.foto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.foto-perfil {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #3880ff;
  margin-bottom: 10px;
}

ion-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

ion-card {
  margin-bottom: 16px;
}
