<ion-header>
  <ion-row>
    <ion-col>Seja bem vindo a essa bela página</ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-item >
<ion-button>Dragon Ball</ion-button>
<ion-button>Naruto</ion-button>
</ion-item>


<ion-card>
  <ion-label>Prefiro Dragon Ball</ion-label>
</ion-card>

<ion-card>
  <ion-label>Não tenho nada contra Naruto</ion-label>
</ion-card>

<ion-card>
  <ion-label>Deixe a sua opinião</ion-label>
</ion-card>

<ion-list>
  <ion-item>
    <ion-label>Aqui contém uma lista</ion-label>
	</ion-item>
  <ion-item>
    <ion-label style="ion-justify-content-center">Aqui contém uma lista igual a de cima</ion-label>
	</ion-item>
</ion-list>

<img size="4" src="https://sm.ign.com/ign_br/cover/d/dragon-bal/dragon-ball-daima_eada.jpg" alt="">
</ion-content>

<ion-footer>
  Direitos autorais meu 😁
</ion-footer>